<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Employee </title>
</head>
<body>
    <h1> <%= pageHeader %> </h1>
    <% links.map(endPoints =>{ %>
        <a href = "<%= endPoints.link %> "> Click here for <%= endPoints.name %>  </a> <br>
    <% }) %>
    <br>
    <div>
        <% data.map((emp,index)=>{ %>
       <div>
          <h4> ID :  <%= emp.id %></h4>
          <h4> Name : <%=emp.name %></h4>
          <h4>UseName : <%=emp.username %></h4>
          <h4>Email : <%=emp.email %></h4> 
          <h4>Phone : <%=emp.phone %></h4>
          <h4>Website : <%=emp.website %></h4>
          <h4> Address : <%=emp.address.suite %> ,<%=emp.address.street %>, <%=emp.address.city %>, <%=emp.address.zipcode %>.  </h4> 
          <h5> Geo -- lat : <%=emp.address.geo.lat %> , lng : <%=emp.address.geo.lng %>  </h5>


          <h4>Company Name : <%=emp.company.name %> </h4>
          <h4>Company catchPhrase :  <%= emp.company.catchPhrase %></h4>
          <h4>Company BS :  <%= emp.company.bs %></h4>
       <hr>
        </div>
   </div>

  <% }) %> 
</body>
</html>